a {
  text-decoration: none;
}
.props-container {
  max-width: 100%;
  min-height: 100vh;
  margin-top: 20px;
}
.statsContainer,
.matchesContainer,
.propsContainer {
  overflow: scroll;
  margin: auto;
  position: relative;
}
.statsContainer::-webkit-scrollbar {
  display: none;
}
.matchesContainer::-webkit-scrollbar {
  display: none;
}
.propsContainer::-webkit-scrollbar {
  display: "none";
}
.statsContainer {
  max-width: 90%;
  height: 30px;
}
.matchesContainer {
  max-width: 85%;
  height: 48px;
}

.statsChild,
.matchesChild {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.propsContainer {
  margin-top: 20px;
  width: 100%;
}
.statsButton,
.matchesButton {
  font-size: 12px;
  font-family: "poppins";
  font-weight: 400;
  margin-right: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.statsButton {
  height: 30px;
  min-width: 150px;
}
.matchesButton {
  height: 48px;
  min-width: 100px;
  background-color: #4831d4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 17px;
}
.matchesName {
}
.matchesTime {
}
.propsNavImg {
  width: 24px;
  height: 24px;
}
.wallet {
  width: 48px;
  height: 48px;
}

@media (max-width: 1100px) {
  .statsButton {
    height: 30px;
    min-width: 125px;
    font-size: 10px;
  }
  .matchesButton {
    font-size: 10px;
    margin-right: 8px;
    border-radius: 4px;
    padding-left: 15px;
    min-width: 63px;
    padding: 0px 17px;
  }
}

@media (max-width: 500px) {
  .statsButton {
    height: 30px;
    min-width: 95px;
    font-size: 8px;
  }
  .matchesButton {
    font-size: 8px;
    margin-right: 8px;
    border-radius: 4px;
    padding-left: 15px;
    min-width: 53px;
    padding: 0px 5px;
  }
  .propsNavImg {
    width: 20px;
    height: 20px;
  }
}
