.overUnderNavImage {
  height: 24px;
  width: 24px;
}
.know-icon {
  display: block;
  height: 20px;
}
@media (max-width: 500px) {
  .know-icon {
    display: none;
  }
  .overUnderNavImage {
    width: 20px;
    height: 20px;
  }
}
