.overUnderNavImage {
  height: 24px;
  width: 24px;
}
.know-icon {
  display: block;
  height: 20px;
}
.overUnderNavContainer {
  overflow: hidden;
  margin: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  width: "100%";
}
.overUnderNavContainer::-webkit-scrollbar {
  display: "none";
}
@media (max-width: 500px) {
  .know-icon {
    display: none;
  }
  .overUnderNavImage {
    width: 20px;
    height: 20px;
  }
}
