.logged-container {
  height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: "center";
  z-index: 4;
  position: "relative";
}
.logoLogged {
  height: 44px;
  width: 58px;
  position: absolute;
  left: 20px;
  border-radius: 5px;
}
.logos {
  height: 33px;
}
.discord-logo {
  padding: 2px;
  border-radius: 3px;
  width: 26px;
}
.twitter-logo {
  padding: 2px;
  border-radius: 3px;
  width: 26px;
}
.exit-image {
  width: 48px;
  height: 48px;
}

.accountImage {
  height: 31px;
  width: 31px;
}

.bonus-offer-container {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.refer1 {
  height: 82px;
  width: 82px;
  margin-top: 20px;
}

.lightMode {
  background: #696969;
}
.side-bar-icon {
  height: 26px;
  width: 26px;
}

.other-logo {
  width: 26px;
}
@media (min-width: 1600px) {
  .side-bar-icon {
    height: 28px;
    width: 28px;
  }
  .other-logo {
    width: 28px;
  }
  .discord-logo {
    width: 28px;
  }
  .twitter-logo {
    width: 28px;
  }
}
@media (max-width: 1100px) {
  .side-bar-icon {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .side-bar-icon {
    margin-left: 5px;
  }
  .logoLogged {
    left: 35px;
  }
  .logoLogged {
    position: static;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .refer1 {
    height: 70px;
    width: 70px;
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .accountImage {
    height: 25px;
    width: 25px;
  }
}
