.login-flow-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.rightImageContainer {
  width: 40%;
  height: 100vh;
  background-color: #202020;
  position: relative;
}
.logo {
  width: 110px;
  height: 81px;
  margin-left: -10px;
}
.right-image {
  width: 262px;
  height: 540px;
  object-fit: cover;
  position: absolute;
  right: 20%;
  top: 10%;
  z-index: 2;
}
.right-vector {
  width: 389px;
  height: 415px;
  position: absolute;
  right: 10%;
  top: 20%;
  z-index: 1;
}
@media (max-width: 1100px) {
  .right-image {
    width: 182px;
    height: 380px;
    right: 20%;
    top: 10%;
  }
  .right-vector {
    width: 289px;
    height: 315px;
    right: 7%;
    top: 20%;
  }
}
@media (max-width: 900px) {
  .rightImageContainer {
    width: 35%;
    height: 100vh;
    background-color: #202020;
    position: relative;
  }
  .right-image {
    width: 152px;
    height: 310px;
    right: 20%;
    top: 20%;
  }
  .right-vector {
    width: 209px;
    height: 235px;
    right: 7%;
    top: 30%;
  }
}

@media (max-width: 700px) {
  .login-flow-container {
    margin-bottom: 50px;
  }
  .rightImageContainer {
    display: none;
  }
}
@media (max-width: 500px) {
  .logo-image {
    width: 80px;
  }
}
