.second-signup-flow-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 110px;
  height: 81px;
  margin-left: -10px;
}
.second-logo-image {
  width: 110px;
}

@media (max-width: 600px) {
}
@media (max-width: 500px) {
  .second-logo-image {
    width: 80px;
  }
}
